---
title: About Me
description: More about the author of this blog, Mario Ortiz Manero
layout: layouts/base.liquid
image: /me.jpg
socials:
  - GitHub
  - LinkedIn
  - Twitter
  - Mastodon
  - E-mail
  - PGP Keys
projects:
  - name: "Tremor"
    site: "https://www.tremor.rs/"
    nullderef_series: "rust-plugins"
    position: "Mentee, 2021 - 2022"
    logo: "/projects/tremor.png"
    description: "A high-performance Event Processing System. I was among the first to write a plugin system in Rust."
  - name: "RSpotify"
    site: "https://github.com/ramsayleung/rspotify"
    nullderef_series: "rspotify"
    position: "Maintainer, 2020 - 2023"
    logo: "/projects/rspotify.png"
    description: "The most popular Rust wrapper for Spotify's API. I redesigned it, enhancing ergnonomics and safety."
  - name: "NullDeref"
    site: "https://github.com/marioortizmanero/nullderef.com"
    position: "Founder, 2021 - Present"
    logo: "/logo-small.png"
    description: "This site itself! It's open source and made with 11ty. You don't truly understand something unless you can explain it to others :)"
  - name: "Vidify"
    site: "https://vidify.org/"
    position: "Founder, 2019 - 2022"
    logo: "/projects/vidify.png"
    description: "An app to reproduce music videos for the music that's playing on your computer, in real time. Supported Desktop, and Android phones and TVs."
  - name: "Maremoto Beach"
    site: "https://maremotocafe.com/"
    position: "Freelancer, 2020"
    logo: "/projects/maremotocafe.png"
    description: "Transformed a bar's menu into a mobile-first experience. This was critical for the COVID outbreak."
  - name: "Equitrivia"
    site: "https://equitrivia.educa.aragon.es/"
    position: "Software Engineer, 2019"
    logo: "/projects/equitrivia.png"
    description: "A government-funded trivia to promote gender equality. Played over 25k times in schools."
  - name: "Meme Stickers for WhatsApp"
    site: "https://web.archive.org/web/20230218224454/https://play.google.com/store/apps/details?id=com.glowapps.memestickerswhatsapp"
    position: "Founder, 2018 - 2019"
    logo: "/projects/stickers.png"
    description: "A very silly Android app that reached 5 million downloads. I wrote the first version and later on sold it."
relatedBlogs:
  - name: "Rafał Pastuszak"
    url: "https://sonnet.io/"
    description: "an important reminder to keep discovering yourself in life."
  - name: "Michael Lynch"
    url: "https://mtlynch.io/"
    description: "a big-tech engineer turned to running cool small businesses."
  - name: "Matt Lakeman"
    url: "https://mattlakeman.org/"
    description: "the definition of pure adventure."
  - name: "Patrick McKenzie"
    url: "https://www.kalzumeus.com/"
    description: "endless knowledge about the internet and businesses."
  - name: "Gwern"
    url: "https://gwern.net/"
    description: "homemade experimentation and impeccable writing combined."
  - name: "Nicolas Bouliane"
    url: "https://nicolasbouliane.com/"
    description: "the legend behind [allaboutberlin.com](https://allaboutberlin.com/), who shares his precious life learnings."
---

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>
  </header>

  <div class="post-content">
    <div class="about-intro">
    <img src="/me.jpg" alt="A picture of me"/>
    <p>
    My name is Mario. I love learning, tinkering with systems, and trying to explain them! I'm a big fan of adventures and nature, so Munich is an awesome place to live.
    </p>
    <p>
    Currently, I work for Lyft as a backend engineer in the Routing team. Other noteworthy projects of mine include:
    </p>
    </div>

    <div class="projects">
      {%- for project in projects %}
        {% render "partials/project.liquid" project: project %}
      {%- endfor %}
    </div>

    <p>
    If you want to contact me, just <a href="https://calendar.app.google/L45TFdjwgqJZemxo7" target="_blank" rel="noopener noreferrer me">schedule a chat</a> or use any of these links:
    </p>

    <p style="text-align: center;">
    {%- for social in socials -%}
      <a href="{{ metadata.author.social[social] }}" target="_blank" rel="noopener noreferrer me">{{ social }}</a>
      {%- unless forloop.last %} · {% endunless -%}
    {%- endfor -%}
    </p>

    <i>
    Note: “Ortiz Manero” are both surnames, not middle names! It's how we go in Spain: they come from my father and mother, respectively :)
    </i>

    <!-- WIP Some phrases that I stand for:

    - Be bored
    - If you want something, don't wait for it or have dependencies on others. You
      never know how life changes. YOLO
    - You are 2/3s of your closest loved ones
    - Sleep on it (https://news.yale.edu/2024/08/14/sleep-it-how-brain-processes-many-experiences-even-when-offline)
    -->

    <h2>Other Cool Blogs</h2>

    <p>Here are some people that inspire me:</p>

    <ul>
      {%- for blog in relatedBlogs %}
        <li><p><a href="{{ blog.url }}" target="_blank" rel="noopener noreferrer me"><strong>{{ blog.name }}</strong></a>: {{ blog.description | markdownify }}</p></li>
      {%- endfor %}
    </ul>
  </div>
</article>
