---
title: Series
layout: layouts/base.liquid
description: "all the series in the site"
---

<header class="post-header">
  <h1 class="post-title">{{ title }}</h1>
</header>

{%- for series in collections.series %}
  {%- assign postsInSeries = collections.posts | getPostsInSeries: series.data.name %}
  {%- assign firstPost = postsInSeries | first %}
  {%- assign lastPost = postsInSeries | last %}
  <article class="post-entry">
    <figure class="entry-preview">
      <img loading="lazy" src="{{ firstPost.data.image }}" alt="{{ firstPost.data.imageAlt | escape }}" eleventy:widths="300">
    </figure>
    <div class="entry-group">
      <header class="entry-header">
        <h2>
          {{ series.data.title }}
        </h2>
      </header>
      <div class="entry-content">
        <p>{{ series.data.description | markdownify | plainifyHtml | escapeHtmlTags }}</p>
      </div>
      <footer class="entry-footer">
        {{ postsInSeries.length }} post{% if postsInSeries.length > 1 %}s{% endif %}
        &nbsp;·&nbsp;
        <time datetime="{{ firstPost.data.date }}">{{ firstPost.data.date | readableDateShort }}</time>
        {%- if firstPost != lastPost %}
        –
        <time datetime="{{ lastPost.data.date }}">{{ lastPost.data.date | readableDateShort }}</time>
        {%- endif %}
      </footer>
      <a class="entry-link" aria-label="series link to: {{ series.data.title }}" href="{{ series.url }}"></a>
    </div>
  </article>
{%- endfor %}
