---js
const pagination = {
	data: "collections",
	size: 1,
	filter: ["all", "posts", "series"],
	alias: "tag",
};
const eleventyExcludeFromCollections = true;
const eleventyComputed = {
	title: "Tagged #{{ tag }}",
  layout: "layouts/base.liquid",
  description: "All posts with the tag {{ tag }}",
	permalink: function(data) {
    return `/tags/{{ tag | slugify }}/`;
	}
};
---

{%- assign data = collections[tag] -%}

<header class="page-header">
  <h1>{{ title }}</h1>
</header>

{%- for post in collections[tag] reversed %}
<article class="post-entry">
  <figure class="entry-preview">
    <img loading="lazy" src="{{ post.data.image }}" alt="{{ post.data.imageAlt | escape }}" eleventy:widths="300">
  </figure>
  <div class="entry-group">
    <header class="entry-header">
      <h2>
        {{ post.data.title }}{% if post.data.draft %}<i> (draft)</i>{% endif %}
      </h2>
    </header>
    <div class="entry-content">
      <p>{{ post.content | plainifyHtml | escapeHtmlTags | truncate: 250 }}</p>
    </div>
    <footer class="entry-footer">
      <time datetime="{{ post.data.date }}">{{ post.data.date | readableDateShort }}</time>
    </footer>
    <a class="entry-link" aria-label="post link to: {{ post.data.title | escape }}" href="{{ post.url }}"></a>
  </div>
</article>
{%- endfor %}
