---js
const pagination = {
  data: "collections.tags",
  size: 1,
  alias: "tag",
};
const eleventyComputed = {
  title: "Tagged #{{ tag.name }}",
  layout: "layouts/base.liquid",
  description: "All posts with the tag {{ tag.name }}",
  permalink: function(data) {
    return `/tags/{{ tag.name }}/`;
  }
};
---

<header class="post-header">
  <h1 class="page-title">{{ title }}</h1>
</header>

{%- if collections[tag.name].length == 0 %}
  {{ "No posts for tag: " | append: tag | raiseError }}
{%- endif %}

{%- for post in collections[tag.name] reversed %}
<article class="post-entry">
  <figure class="entry-preview">
    <img loading="lazy" src="{{ post.data.image }}" alt="{{ post.data.imageAlt | escape }}" eleventy:widths="300">
  </figure>
  <div class="entry-group">
    <header class="entry-header">
      <h2>
        {{ post.data.title }}{% if post.data.draft %}<i> (draft)</i>{% endif %}{% if post.data.externalPost %}&nbsp;<svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12"><path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path><path d="M15 3h6v6"></path><path d="M10 14L21 3"></path></svg>{% endif %}
      </h2>
    </header>
    <div class="entry-content">
      <p>{{ post.content | plainifyHtml | escapeHtmlTags | truncate: 250 }}</p>
    </div>
    <footer class="entry-footer">
      <time datetime="{{ post.data.date }}">{{ post.data.date | readableDateShort }}</time>
    </footer>
    {%- if post.data.externalPost %}
    <a class="entry-link" aria-label="post link to: {{ post.data.externalPost | escape }}" href="{{ post.data.externalPost }}" target="_blank"></a>
    {%- else %}
    <a class="entry-link" aria-label="post link to: {{ post.data.title | escape }}" href="{{ post.url }}"></a>
    {%- endif %}
  </div>
</article>
{%- endfor %}
