<!DOCTYPE html>
<html lang="{{ metadata.language }}"
  domain="{{ metadata.domain }}"
  ga-id="{{ metadata.googleanalytics }}" >

<head>
    {% include "partials/head.liquid" %}
</head>

{% comment %}
TODO: this used to be:
{{- if (or (ne .Kind `page` ) (eq .Layout `search`)) -}}

As in, it should have `list` when it's listing content (search, tags, series, home) but not in content itself (about, or a post)
{% endcomment %}
<body id="top" {% if page.url == "/search" %}class="list"{% endif %}>
    {% include "partials/header.liquid" %}

    <main class="main">
        {{ content }}
    </main>

    {% include "partials/footer.liquid" %}
</body>

</html>
